<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block pagetitle %}{% endblock %} &mdash; Trace Collector</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Google Ajax loader -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    {% block extrahead %}{% endblock %}
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Trace Collector</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          {% block navbar %}{% endblock %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <h1 class="page-header">{{ self.pagetitle() }}<span class="small text-muted pull-right">{% block pagesubtitle %}{% endblock %}</span></h1>

        {% block body %}{% endblock %}

        </div>
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </body>
</html>
